/* ============================================================
                GENERAL
=============================================================== */


/* ------------- Schriften ------------- */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif; */


/* ------------- Farben ------------- */


/* Farbe: #202020, #24bff2, #fff, #F5FBFE.
Farbe social media: #3b5998, #fcaf45, #55acee, #c4302b */


/* ------------- Gestaltung ------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 1440px;
}

main, footer {
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.6rem;
    color: #202020;
    font-weight: 500;
    /* padding-top: 1vh; */
    padding-bottom: 30px;
}

p {
    color: rgb(77, 77, 77);
    line-height: 3.8rem;
}

a {
    text-decoration: none;
}

/* ============================================================================
                HEADER - NAV
=============================================================================== */

nav {
    padding: 1% 0;
}

nav ul {
    text-align: right;
    padding-right: 2%;
}

nav ul li {
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

nav ul li a {
    color: #202020;
    padding: 1vw;
}

/* ============================================================================
                MAIN - Generals
=============================================================================== */

main p {
    font-size: 2.2rem;
     /* text-align: right;
    line-height: 20vh; */
}

/* ============================================================================
                MAIN - Section 1 (Bilder links-rechts)
=============================================================================== */


/* =============== Article 1 =============== */

main section:nth-of-type(1) article:nth-of-type(1) {
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    padding: 19vh 0 25vh 10vw;
    /* padding-right: 200vw; */
    /* width: 35vw; */
    margin-bottom: 8vh;
}

main section:nth-of-type(1) article:nth-of-type(1){
    background: url("../img/illustration1.gif") right/contain no-repeat;
    background-size: 37%;
}

main section:nth-of-type(1) article:nth-of-type(1) {
    padding-right: 50%;
}

/* ------------- Buttons ------------- */

main section:nth-of-type(1) article div {
    padding-top: 2vh;
}

main section:nth-of-type(1) article div button {
    font-family: 'Merriweather', serif;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(10, 10, 10, 0.2);
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 24px;
    padding-right: 24px;
    width: 10vw;
} 

main section:nth-of-type(1) article button:nth-of-type(1){
    color: #fff;
    font-size: 1.6rem;
    background-color:black;
    margin-right: 20px;
    border-style: none;
}

main section:nth-of-type(1) article button:nth-of-type(2){
    background-color:#fff;
    font-size: 1.6rem;
    border-style: none;
}

/* =============== Article 2 =============== */

main section:nth-of-type(1) article:nth-of-type(2) {
    margin-bottom: 10vh;
    margin-left: 10vw;
    padding: 22vh 7vw 25vh 40.5%;
    margin: 15vh 10vw;
}

main section:nth-of-type(1) article:nth-of-type(2){
    background: url("../img/illustration2.png") left/contain no-repeat;
    background-size: 38%;
} 

/* =============== Article 3 =============== */

main section:nth-of-type(1) article:nth-of-type(3) {

    padding: 30vh 40% 20vh 2vw;
    margin: 12vh 8vw;
}

main section:nth-of-type(1) article:nth-of-type(3){
    background: url("../img/illustration3.png") right/contain no-repeat;
    background-size: 38%;
}

/* ============================================================================
                MAIN - Section 2 (drei Bilder)
=============================================================================== */

main section:nth-of-type(2) {
    text-align: center;
    margin: 25vh 3vw; 
}

main section:nth-of-type(2) article {
    padding-left: 12%;
    padding-right: 12%;
    padding-bottom: 11vh;
}

main section:nth-of-type(2) div {
    padding-top: 3%
}

main section:nth-of-type(2) div img {
    width: 28%;
}

main section:nth-of-type(2) div img:hover {
    box-shadow: 0px 4px 8px rgba(10, 10, 10, 0.2);
}

/* ============================================================================
                MAIN - Section 3 (sechs Bilder untereinander)
=============================================================================== */

main section:nth-of-type(3) {
    text-align: center;
}

main section:nth-of-type(3) article {
    padding-left: 24%;
    padding-right: 24%;
    padding-bottom: 11vh;
}

main section:nth-of-type(3) div {
    padding-top: 3%;
}

main section:nth-of-type(3) img {
    width: 38%;
    margin: 0 2.5vw 14vh 2.5vw; 
}

main section:nth-of-type(3) img:hover {
    box-shadow: 0px 4px 8px rgba(10, 10, 10, 0.2);
}

/* ============================================================================
                MAIN - Section 4 (zentrierter Text)
=============================================================================== */

main section:nth-of-type(4) {
    text-align: center;
    margin-top: 8vh;
}

/* =============== Article =============== */

main section:nth-of-type(4) div {
    padding-left: 24%;
    padding-right: 24%;
    padding-bottom: 5vh;
}
main section:nth-of-type(4) article {
    display: inline-block;
    background-color: #F5FBFE;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

main section:nth-of-type(4) article p:nth-of-type(1) {
    color: black;
}

main section:nth-of-type(4) article p:nth-of-type(2) {
    color: rgb(131, 124, 124);
    font-size: 2rem;
}

main section:nth-of-type(4) article h1 {
    padding-bottom: 60px;
    padding-top: 55px;
}

main section:nth-of-type(4) article ul {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-bottom: 30px;
}

main section:nth-of-type(4) article ul li {
    list-style: none;
    font-size: 1.6rem;
    font-family: 'Merriweather', serif;
    line-height: 2.6rem;
}

main section:nth-of-type(4) article p:nth-of-type(3) {
    font-size: 1.6rem;
    color: #fff;
    background-color: #24bff2; 
    padding: 8px 60px;
    border-radius: 5px;
}

/* ============================================================================
                FOOTER
=============================================================================== */

footer {
    text-align:center;
    padding-bottom: 20px;
    padding-top: 18vh;
}

footer p:nth-of-type(1n+1) {
    color: grey;
    font-size: 1.4rem;
    padding-top: 2vh;
}

footer a {
    color: #202020;
    font-size: 1.4rem;
}

footer a:nth-of-type(1) {
    display: block;
    margin-top: 10px;
}

/* =============== Social Media-Links =============== */

footer ul li {
    display: inline-block;
    list-style: none;
    font-size: 1.4rem;
}

footer ul li a {
    color:#202020;
}

footer ul li:nth-of-type(1) {
    color: #3b5998;
    font-size: 2.6rem;
    font-weight: bold;
}

footer ul li:nth-of-type(3) {
    color: #fcaf45;
    font-size: 2.6rem;
    font-weight: bold;
}

footer ul li:nth-of-type(5) {
    color: #3b5998;
    font-size: 2.6rem;
    font-weight: bold;
}

footer ul li:nth-of-type(7) {
    color: #c4302b ;
    font-size: 2.6rem;
    font-weight: bold;
}

/* ============================================================================
                ENDE
=============================================================================== */